

/* Style for the content that appears on top of the image */
head {
    position: relative; /* This is the default position value */
    z-index: 1; /* Set a higher z-index to place it above the image */
    font-family: Verdana, sans-serif;
}

body {
  font-family: Verdana, sans-serif;
}

.text {
padding: 10px;
margin-left: 1120px;
}

.bottom-button
{
	position: absolute;
    bottom: 0;
    right: 0;
    left: 40px;
    z-index: -1;
}

.header {
  font-family: Verdana, sans-serif;
  position: absolute;
    bottom: 0;
    right: 20px;
    left: 0;
}


.green-button {
  background-color: #4CAF50; /* Green color */
  color: white; /* Text color */
  border: none;  /* Green border */
  padding: 10px 20px; /* Add padding for the button */
  text-align: center; /* Align text to the center */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  margin-left: 1120px; /* Adjust the left margin to move the button to the left */
}

/* Add a hover effect */
.green-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}
/* Apply styles to a button with a white background and a green border */
.green2-button {
  background-color: white; /* White background */
  color: #4CAF50; /* Green text color */
  border: 2px solid #4CAF50; /* Green border */
  padding: 10px 20px; /* Add padding for the button */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

/* Add a hover effect */
.green2-button:hover {
  background-color: #4CAF50; /* Green background on hover */
  color: white; /* White text color on hover */
}
